*{
    margin: 0;
    padding: 0;
    
    
}
body{
    
    font-family: "Nunito", sans-serif;
    background-image: url(./image/map.jpg);
    background-position: center;
    background-size: cover;
    opacity:0.9 ;
    background-attachment: fixed;
}
.navmain {
    
    height: 10vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    /* padding: 0 2rem; */
    border-bottom: solid 1px #007bff;
}

.logo {
    display: flex;
    align-items: center;
    height: 90%;
    width: auto;
}

.logo img {
    height: 13vh;
    /* width: auto; */
}

/* Titles in the navigation bar */
.titles {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85%;
    width: auto;
}

.tit {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: auto;
    background-color: rgb(37, 37, 44);
    padding: 0 1.5rem;
    border-radius: 1.4rem;
}

.tit li {
    list-style-type: none;
    color: aliceblue;
    font-size: 2.3vh;
    margin: 0 1rem;
}

.tit a {
    text-decoration: none;
    color: aliceblue;
    transition: color 0.3s ease;
}

.tit a:hover {
    color: #2b85c0;
}

.main{
    width: auto;
    height: 900px;
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    width: 40%;
    height: 80%;
    background: #4f4f4f;
    display: flex;
    justify-content:  space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.map{
    width: 65%;
    height: 40%;
    border: solid 1px white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textt{
    width: 90%;
    height: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.textt h1{
    font-size: 2.2rem;
}
.textt a{
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    color: white;
}
.textt a:hover{
    color:#2b85c0 ;
}
.textt p{
    font-size: 1.5rem;
    text-align: center;
}
.fmain1logo11{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    
}
.fmain1logo11 img{
    height: 4vh;
    width: auto;
    -webkit-filter: invert(100%); 
    filter: invert(100%);
}
.fmain1logo11 p{
    font-family: "Nunito", sans-serif;
    color: #ffff   ;
}
.form{
    width: 40%;
    height: 80%;
    background: #b5b4b46c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.contact-form {
    background: linear-gradient(135deg, #2a2a2a 0%, #1a1a1a 100%);
    padding: 2rem;
    border-radius: 8px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    
}
.contact-form h2{
    color: #fff;
}
.form-group {
    margin-bottom: 1.5rem;
}

input, select, textarea {
    width: 90%;
    padding: 1rem;
    background: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
}

textarea {
    height: 150px;
    resize: vertical;
}

button {
    background: #1a1a1a;
    color: #fff;
    border: 1px solid #333;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: #333;
}


.footermain2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    background-color: #000000;
    margin: 0;
    padding: 20px 0;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #666;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none; /* Remove default link underline */
}

.icon:hover {
    border-color: #fff;
    text-decoration: none; /* Ensure no underline on hover */
}

.icon i {
    color: #666;
    font-size: 16px;
}

.icon:hover i {
    color: #fff;
}

.copyright {
    color: #666;
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    text-align: center;
    margin-top: 10px;
}
.footermain{
    height: 50vh;
    width: 100vw;
    background-color: #000000   ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footermain1{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: 100%;


}
.fmain1logo{
    height: 80%;
    width: 20%;
}
.fmain1logo img{
    height: 8vh;
    width: auto;
   
}
.fmain1logo p{
    font-size: small;
    font-family: "Nunito", sans-serif;
    color: #ffff   ;
}
.fmain1logo1{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    height: 50%;
    width: 20%;
    
}
.fmain1logo1 img{
    height: 4vh;
    width: auto;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}
.fmain1logo1 p{
    font-family: "Nunito", sans-serif;
    color: #ffff   ;
}
.fmain1logo2{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    height: 50%;
    width: 20%;
}

.fmain1logo2 li {
    list-style-type: none;
    color: aliceblue;
    font-size: 1.9vh;
    margin: 0 1rem;
}

.fmain1logo2 a {
    text-decoration: none;
    color: aliceblue;
    transition: color 0.3s ease;
}

.fmain1logo2 a:hover {
    color: #2b85c0;
}


